.contenedor{
    display: flex;
    align-items: center;
}

.informacion{
    flex: 1;
    padding: 20px;
}

.gif{
    flex: 1;
    text-align: center;
}

.gif img{
    max-width: 100%;
    height: auto;
}